.activites {
    padding: 135px 0 159px 0;

    .wrapper {
        padding-top: 112px;

            .card {
                position: relative;
                border-radius: 15px;
                object-fit: cover;
                color: white;
                
                label {
                    position: absolute;
                    font-size: 32px;
                    font-weight: 600;
                    bottom: 78px;
                    left: 38.54px;
                }

                span {
                    position: absolute;
                    font-size: 17px;
                    font-weight: 500;
                    bottom: 48px;
                    left: 39.55px;
                }
        }
    }
}

.slick-slide img {
    border-radius: 10px;
    height: auto;
    text-align: center;
    height: 455px;
    width: 100%;
    object-fit: cover;
}

.slick-prev::before {
    background-image: url("../../../src/assets/svg/flechBack.svg");
    background-repeat: no-repeat;
    background-size: 42.69px 9.78px;
    content: "";
    width: 42px;
    height: 10px;
    margin-bottom: 29px;
}

.slick-prev::before,
.slick-next::before {
    opacity: 1;
    color: transparent !important;
}

.slick-prev,
.slick-next {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2D2D2D;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    width: auto;
    height: auto;
    text-transform: uppercase;

    &:hover {
        color: #2D2D2D;
    }
}

.slick-prev {
    left: -38px !important;
}

.slick-slide {
    padding: 0 10px; /* Adjust as needed */
  }

.slick-next::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../src/assets/svg/flechNext.svg");
    content: "";
    width: 42.62px;
    height: 10px;
    margin-bottom: 30px;
}

.slick-next {
    right: -91px;
}

@media (max-width: 900px) {
    .slick-next{
        display: none !important;
    }
    .slick-prev{
        display: none !important;
    }
}