.tickets {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;

  .print_button {
    button {
      position: fixed;
      display: flex;
      gap: 7px;
      top: 22px;
      left: 28px;
      padding: 8px 25px;
      background-color: #3D3D3D;
      border-radius: 2rem;
      border: 0;
      color: #fff;
    }

  }

  .ticket-system {
    max-width: 385px;

    .sucsses-message {
      width: 100%;
    }

    .top {

      .title {
        font-weight: normal;
        font-size: 1.6em;
        text-align: left;
        margin-left: 20px;
        /* margin-bottom: 50px; */
        color: #fff;
      }

      .printer {
        width: 86%;
        height: 20px;
        border: 5px solid #fff;
        border-radius: 10px;
        box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
        border: 3px solid rgba(0, 0, 0, 0.2);
      }
    }

    .receipts-wrapper {
      overflow: hidden;
      margin-top: -10px;
      padding-bottom: 10px;
    }

    .receipts {
      width: 85%;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translateY(-510px);

      animation-name: print;
      animation-duration: 2.5s;
      animation-delay: 500ms;
      animation-fill-mode: forwards;

      &::before {
        content: "";
        background: linear-gradient(to right, #fff 50%, rgb(158, 158, 158) 50%);
        background-size: 22px 4px, 100% 4px;
        height: 3px;
        width: 83%;
        display: block;
        left: 0;
        right: 0;
        top: 0px;
        position: absolute;
        margin: auto;
      }

      .receipt {
        padding: 25px 30px;
        text-align: left;
        min-height: 200px;
        width: 88%;
        background-color: #fff;
        border-radius: 12px 12px 15px 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top: hidden;

        .airliner-logo {
          max-width: 80px;
        }

        .route {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          gap: 1rem;

          i {
            font-size: 1.6rem;
          }

          font-size: 1.3rem;
          font-weight: 900;

          /* .plane-icon {
            width: 30px;
            height: 30px;
            transform: rotate(90deg);
          } */
          h2 {
            font-weight: 300;
            font-size: 2.2em;
            margin: 0;
          }
        }

        .details {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 1rem;

          .item {
            display: flex;
            flex-direction: column;
            min-width: 70px;

            span {
              font-size: .8em;
              color: rgba(28, 28, 28, .7);
              font-weight: 500;
            }

            p {
              margin-bottom: 7px;
            }
          }
        }

        &.qr-code {
          margin-top: 1px;
          height: 110px;
          min-height: unset;
          position: relative;
          border-radius: 15px 15px 10px 10px;
          display: flex;
          align-items: center;
          gap: 2rem;
          border-top: 1px solid rgba(0, 0, 0, 0.2) !important;

          &::before {
            content: '';
            background: linear-gradient(to right, #fff 50%, rgb(158 158 158) 50%);
            background-size: 22px 4px, 100% 4px;
            height: 3px;
            width: 88%;
            display: block;
            left: 0;
            right: 0;
            top: -3px;
            position: absolute;
            margin: auto;
          }

          .qr {
            width: 70px;
            height: 70px;
          }

          .description {
            margin-left: 20px;

            h2 {
              margin: 0 0 5px 0;
              font-weight: 500;
            }

            p {
              margin: 0;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .receipts svg {
    height: 4rem;
  }

  @keyframes print {
    0% {
      transform: translateY(-510px)
    }

    35% {
      transform: translateY(-395px);
    }

    70% {
      transform: translateY(-140px);
    }

    100% {
      transform: translateY(0);
    }
  }

}